.aboutteam {
  padding-top: 100px;
  position: relative;
}

.aboutteam__top {
  padding-bottom: 32px;
  display: flex;
  gap: 24px;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  color: var(--primaryColor);
  font-weight: 700;
}

.aboutteam__groups {
  padding-left: 94px;
  padding-bottom: 280px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.aboutteam__groups__left {
  max-width: 630px;
}

.aboutteam__groups__left__title {
  font-size: 56px;
  line-height: 67px;
  color: var(--primaryColor);
  font-weight: 700;
}

.aboutteam__groups__right {
  max-width: 500px;
}

.aboutteam__groups__right__title {
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 30px;
  color: var(--primaryColor);
  font-weight: 700;
}

.aboutposition {
  width: 90%;
  position: absolute;
  transform: translateY(-50%);
}

.aboutposition img {
  width: 100%;
}

@media (max-width: 1250px) {
  .aboutteam__groups__left__title {
    font-size: 45px;
    line-height: 50px;
  }
  .aboutteam__groups {
    padding-bottom: 230px;
  }
}

@media (max-width: 1150px) {
  .aboutteam__groups__left__title {
    font-size: 35px;
    line-height: 35px;
  }

  .aboutteam__groups__right__title {
    padding-bottom: 16px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 1050px) {
  .aboutteam__groups__left__title {
    font-size: 25px;
    line-height: 35px;
  }
}
@media (max-width: 950px) {
  .aboutteam__groups {
    padding-left: 0;
  }
}

@media (max-width: 900px) {
  .aboutteam__groups {
    padding-left: 0;
  }
  .aboutteam__groups__left,
  .aboutteam__groups__right {
    width: calc(50% - 20px);
  }
  .aboutteam__groups {
    padding-bottom: 180px;
  }
}

@media (max-width: 730px) {
  .aboutteam__groups {
    padding-left: 0;
  }
  .aboutteam__groups__left {
    width: calc(35% - 20px);
  }
  .aboutteam__groups__right {
    width: calc(65% - 20px);
  }
  .aboutteam__groups__left__title {
    font-size: 20px;
    line-height: 25px;
  }

  .aboutteam__groups__right__title {
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 20px;
  }

  .aboutteam__groups__right__desc {
    font-size: 14;
  }
}

@media (max-width: 600px) {
  .aboutteam__groups {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
  }
  .aboutteam__groups * {
    width: 95%;
  }
  .aboutteam__groups {
    padding-bottom: 160px;
  }
}

@media (max-width: 550px) {
  .aboutteam__groups {
    padding-bottom: 100px;
  }
}
